<% layout('./layouts/boilerplate') %>

<div class="row mt-3">
    <h3 class="col-6 offset-3 loginh3">Login</h3>
    <div class="col-6 offset-3 signUp">
        <form action="/login" method="POST" class="needs-validation loginForm" novalidate>
           <div class="mb-3">
                    <input type="text" placeholder="Email" name="username" class="form-control" required />
                    <div class="valid-feedback">Looks Good.</div>
                </div>   
                     <div class="mb-3">
                    <input type="password" placeholder="Password" name="password" class="form-control" required />
                </div>  
                <button class="btn btn-success">Login</button>
        </form>
    </div>
</div>